.Upload-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

.Dropzone-root {
  position: relative;
  width: 80%;
}

.Dropzone-root:focus {
  outline: none !important;
}

.Dropzone-root .MuiDropzoneArea-text {
  margin-bottom: 6px;
  font-size: 1.15em;
}

.Dropzone-root > div.MuiDropzoneArea-root {
  border-width: 1.5px;
  border-color: rgb(94, 94, 241);
  background-color: #f7f3fb;
  outline: none !important;
}

div.MuiDropzoneArea-root > .MuiDropzonePreviewList-root {
  margin-top: -16px;
  padding: 1em;
}

div.MuiDropzonePreviewList-root > .Dropzone-items {
  margin-top: 10px;
}

.Dropzone-items .MuiDropzonePreviewList-image {
  height: 50px;
}

.Dropzone-items > button {  
  box-shadow: none;
  margin-top: 8px;
  opacity: 1;
  right: 28px;
  top: 0px;
}

.preview-item-text {
  font-size: 0.75em;
}
