.App {
  text-align: center;
}

.App-logo {
  height: 11vmin;
  pointer-events: none;
  border-radius: 50%;
  margin-left: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 14vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  margin-left: 0.5em;
  font-size: 0.75em;
}

.Aside {
  margin-top: 1em;
}

.Upload-container {
  background-color: white;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

.Section-header {
  background-color: #282c34;
  min-height: 33.33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Dropzone-root {
  width: 80%;
}

.Dropzone-root > div.MuiDropzoneArea-root {
  border-width: 1px;
  border-color: rgb(94, 94, 241);
  background-color: #f7f3fb;
}

.MuiDropzonePreviewList-root {
  padding: 1em;
}

.Dropzone-items > button {
  opacity: 1;
  right: 8px;
  top: 0px;
}

